.secao {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;

}

.postagens{
    display: flex;
    gap: 2rem;
    flex-direction: column;

}
.recomendacoes{
    gap: 6.5rem;
}