.card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 20rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.topo {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.subtitulo {
    color: #9A9A9A;
    font-size: 0.8rem;
}

.nome {
    font-size: 1rem;
    font-weight: bold;
}